


.home-container {
  position: relative;
  text-align: center;
  color: white;
}

.home-background-bmw {
    width: 100%;
    height: 100vh;
    object-fit: cover;
    filter: brightness(50%);
    box-shadow: 0px 0px 45px 2px rgba(0, 0, 0, 0.482);
    
}

/* h1 {
    position: absolute;
    top: 15%;
    width: 100%;
    transform: translate(-50%, -50%);
} */


.home-text-top-left {
  position: absolute;
  top: 55%;
  left: 35%;
  transform: translate(-50%, -50%);
  font-size: large;
  color: whitesmoke;
  text-align: center;
  font-weight: 600;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  width: 70%;
}

.company-logo {
    width: 500px;
    max-width: 500px;
    border-radius: 30px;
}

.home-locations-bottom {
  background-color: rgba(103, 102, 102, 0.532);
  padding: 15px;
  width: 40%;
  margin: 0 auto;
  font-weight: 100;
  left: 5%;
  color: rgb(10, 10, 10);
  text-align: center;
  font-size: small;
  display: flex;
}





.google-map {
    width: 100%;
    height: 60vh;
}


.contacts {
    color: black;
}





@media only screen and (max-width: 1700px) { 
    .home-text-top-left {
        left: 50%;
        width: 100%;
    }
    .home-locations-bottom {
        width: 30%;
    }
    .home-p {
        font-size: medium;
    }
    /* .home-locations-bottom {
        font-size: small;
    } */
}







@media only screen and (max-width: 1300px) { 
    .home-text-top-left {
        left: 50%;
        top: 50%;
    }
    .home-locations-bottom {
        width: 70%;
    }
    .home-locations-bottom {
        width: 40%;
    }
}

@media only screen and (max-width: 1200px) { 
    h1 {
        font-size: xx-large;
    }
}


@media only screen and (max-width: 1000px) { 
    
    
    .home-locations-bottom {
        width: 50%;
    }
    .home-p {
        width: 85%;
    }
    
    
    h1 {
        font-size: x-large;
    }
    .vehicle-icons-inner-div-bottom {
        margin: 1rem 0;
    }
    
}


@media only screen and (max-width: 900px) {
    
    .home-text-top-left {
      
        font-size: large;
    }
    h1 {
        font-size: large;
    }
}

@media only screen and (max-width: 700px) {
    
    .locations {
        font-size: medium;
    }
    .home-p {
        margin: 0 auto;
    }
    

    .home-locations-bottom {
        width: 60%;
    }
}

@media only screen and (max-width: 600px) {
    .home-locations-bottom {
        width: 80%;
    }
    h1 {
        padding: 10px 1rem;
    }
    
    .company-logo {
        width: 100vw;
    }
}
@media only screen and (max-width: 450px) {
    
    .home-locations-bottom {
        font-size: x-small;
        width: 80%;
    }
    
    
}